/* 
// @name         Good style of confluence space
// @version      0.1
// @description  Confluence Advanced good style for Confluence 5.5
// @copyright    none
// @made by      wanybae
*/

/* Code */
.tipMacro{background:#EEF4EE;}
.code{margin-top:10px;line-height:1.4;}
.codeContent{font-size:100%;}
 
/* jira-issue */
.jira-issue>a { font-size: 10pt; }
 
/* wiki-content */
.wiki-content {
color: #444444;
font-family: Verdana, "Signika Negative", Geneva, sans-serif;
font-size: 14px;
}
.wiki-content p, .wiki-content table, .wiki-content tr, .wiki-content td, .wiki-content th, .wiki-content ol, .wiki-content ul, .wiki-content li {
color: #444444;
line-height: 1.6;
font-size: 10pt;
}
h1, h2, h3, h4, h5, h6 {
margin-top: 1.2em;
margin-bottom: 0.5em;
border: none;
background: none;
color: #333 !important;
font-family:"Roboto Condensed","sans-serif";
font-weight: 400;
}
.wiki-content h1 { padding: 3px 6px 6px 6px; border-top: 3px solid #aeaeae; background: #eeeeee; font-size: 26px; }
.wiki-content h2 { padding-left: 6px; padding-right: 6px; padding-top: 4px; background: #f9f9f9; font-size: 22px; }
.wiki-content h3 { padding-left: 6px; border-bottom: 1px solid #DEDFE0; font-size: 20px; }
.wiki-content h4 { padding-left: 3px; border-left: 4px solid #999; margin-left: 6px; font-size: 18px; }
.wiki-content h5 { padding-left: 6px; border-bottom: 0; font-size: 18px; }
.wiki-content h6 { padding-left: 6px; border-bottom: 0; font-size: 16px; }
.wiki-content a.createlink { color: maroon; }
.wiki-content h1 a:link,
.wiki-content h2 a:link,
.wiki-content h3 a:link,
.wiki-content h4 a:link,
.wiki-content h5 a:link,
.wiki-content h6 a:link,
.wiki-content h1 a:visited,
.wiki-content h2 a:visited,
.wiki-content h3 a:visited,
.wiki-content h4 a:visited,
.wiki-content h5 a:visited,
.wiki-content h6 a:visited,
.wiki-content h1 a:hover,
.wiki-content h2 a:hover,
.wiki-content h3 a:hover,
.wiki-content h4 a:hover,
.wiki-content h5 a:hover,
.wiki-content h6 a:hover,
.wiki-content h1 a:active,
.wiki-content h2 a:active,
.wiki-content h3 a:active,
.wiki-content h4 a:active,
.wiki-content h5 a:active,
.wiki-content h6 a:active,
.wiki-content h1 a:focus,
.wiki-content h2 a:focus,
.wiki-content h3 a:focus,
.wiki-content h4 a:focus,
.wiki-content h5 a:focus,
.wiki-content h6 a:focus {
color: #1c7ec0;
}
 
.wiki-content h1 + h2,
.wiki-content h2 + h3 {
margin-top: 0.5em;
}
 
.wiki-content>p { margin-left: 25px; }
.wiki-content>div.table-wrap { margin-left: 25px; }
.wiki-content>div.hint,
.wiki-content>div.success,
.wiki-content>div.problem,
.wiki-content>div.warning { margin-left: 25px; }
.wiki-content>div.code { margin-left: 25px; }
.wiki-content tt {font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace; }
.codeHeader {text-align:left;}
 
hr{border:0;height:1px;color:#888;background-color:#888;}
 
div.panelMacro {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
